  <aside class="problem-card animated fadeInUp" style="top: 500px" id="problem-card">
    <div class="problem-card-inner" id="problem-card-inner">
      <table class="problem-card-table">
        <caption>题目信息卡</caption>
        <tbody>
          <tr>
            <td>题目名称</td>
            <td id="problem-name">野兽先辈</td>
          </tr>
          <tr>
            <td>题目来源</td>
            <td id="problem-from">yajuusenpai</td>
          </tr>
          <tr>
            <td>题目难度</td>
            <td>
              <b style="color:#114514" id="problem-difficulty">114514</b>
            </td>
          </tr>
          <tr>
            <td>提交地址</td>
            <td id="problem-submit">1919810</td>
          </tr>
        </tbody>
      </table>
    </div>
  </aside>

  <script>
  setInterval("getProblemStatus()", 25)
  function getProblemStatus(){
    var width = document.body.clientWidth;
    if(width <= 991){
      document.getElementById("problem-card").style.display = "none";
      return;
    }else{
      document.getElementById("problem-card").style.display = "inherit";
    }
    var height = "";
    height += (document.getElementById("sidebar").offsetHeight + 36) + "px";
    document.getElementById("problem-card").style.top = height;
  }
  </script>