.problem-card {
  margin-top: 16px;
  position: sticky;
  top: 500px;
  width: 240px;
}

.problem-card-inner {
  color: var(--text-color);
  visibility: visible;
  background: var(--content-bg-color);
  padding: 18px;
  text-align: center;
  box-shadow: $box-shadow;
}

.problem-card-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  caption{
    font-size: 1.4em;
    color: var(--text-color);
  }

  tr>:first-child {
    font-size: .8em;
    min-width: 48px;
    color: $grey-dark;
  }

  tr td ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}